html {
  background-image: url("background.png");
}
span.pageinfo {
  font-size: 8pt;
  font-family: "Verdana";

}
.Banner {
  text-align: center;
  background-image: url("bannerbg.png");
  background-repeat: repeat-x;
}
h1.MovieTitle {
  text-align: center;
  font-size: 24pt;
  font-weight: bold;
  font-family: "Tahoma";
  text-shadow: 3px 3px #999999;

}
div.OutLine {
  width: 800px;
  text-align: center;
  border: 4px solid gray;
  border-radius: 20px;
}
div.LeftContent {
  width: 550px;
}
div.RottenBox {
  background-image: url("rbg.png");
  background-repeat: repeat-x;
  height: 83px;
  position: top;
  
}
